body {
  margin: 1em;
  text-align: center;
  color: #1A535C;
  font-family: 'Fredoka One', cursive;
}

h1 {
  background-color: #FFE66D;
  padding: 15px;
}

h2 {
  color: #FF6B6B;
}

#square{
  display: flex;
  height: 100px;
  width: 100px;
  border: 2px solid #F7FFF7;
  align-items: center;
  justify-content: center;
  font-size: 90px;
}

#square:hover {
  background-color: #F7FFF7;
  color: #FF6B6B;
  opacity: 50%;
  transition-duration: 0.8s;
}

#restart-button {
  font-family: 'Fredoka One', cursive;
  background-color: #FF6B6B;
  border: 2px solid #F7FFF7;
  color: #F7FFF7;
  border-radius: 30px;
  padding: 16px;
  margin: 15px;
}

#restart-button:hover {
  background-color: #F7FFF7;
  border: 2px solid #FF6B6B;
  color: #FF6B6B;
}
#gameBoard {
  display: flex;
  flex-wrap: wrap;
  height: 312px;
  width: 312px;
  margin: 0 auto;
  background-color: #4ECDC4;
  color: #FFE66D;
  box-shadow: 5px 5px;
}

